/* 기본 여백 css */
.ma-top15 {
	margin-top: 15px;
}
.ma-right5 {
	margin-right: 5px;
}

.ip-btn {
	position: relative;
}
.ip-btn > .btn {
	position: absolute;
	top: 50%;
	right: 5px;
	z-index: 10;
	margin-top:-12px;
}
.btn-default.none-focus {
	margin-right: 7px;
}
.ui-jqgrid .ui-jqgrid-view input[type="file"] {
	position: absolute;
	opacity : 0;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	line-height: 0;
	height: 0;
	padding: 0;
	margin: 0;
	cursor: pointer;
	::-webkit-file-upload-button { cursor:pointer; }
}
.fileMask {
	width: 60px;
	height: 24px;
	position: relative;
	background-color: #efefef;
	display: inline-block;
	line-height: 24px;
	vertical-align: middle;
	cursor: pointer;
	margin-left: 15px;
}

/* 데이트피커 */
.dtpicker .form-control {
	position: relative;	
}
.dtpicker i.fa {
	position: absolute;
	right: 12px;
	top: 50%;
	margin-top: -7px;
}

.text-center {
	text-align: center;
}
.table-responsive.pull-left.col-lg-6 {
	padding: 0;
}
.half-table {
	border-left: 1px solid #ddd;
	height: 100%;
}
.half-title {
	font-size: 16px;
	padding-left: 10px;
	
}
.half-table .table td:first-child {
	border-left: none;
}
.creatBtn {
	display: inline-block;
}
.creatBtn > input {
	width: 67px;
	height: 70.5px;
	border-right: 0px !important;
	padding: 5px;
	font-size: 20px;
}
.creatBtn > input,
.creatBtn > button {
	float: left;
}
.editBtn,
.creatBtn {
	padding-top: 10px;
}
.editBtn > button {
	display: inline-block;
}
.widget-c-btn {
	margin: 0 0 5px 0;
	text-align: center;
}
.content-c-btn {
	margin-top: 15px;
	text-align: center;
}
.content-l-btn {
	position: absolute;
	left: 15px;
	top: 15px;
}
.content-l-btn .btn-default {
	border: none;
}
.content-l-btn .btn-default:focus {
	background-color: #fff;
	color: #5f5f5f;
	border: none;
}
.slash:after {
	content:"|";
	padding: 0 3px;
	font-size: 10px;
	line-height: 21px;
	color: #333;
	font-weight: 600;
	display: inline-block;
}
.non-scroll {
	overflow: hidden !important;
}

.table-bordered .select-box {
	height: 32px;
	margin: 0;
	padding: 0;
}
.textarea-box {
	width: 100%;
    border: none !important;
    padding: 8px;
    line-height: 1.62857143;
    overflow-y: auto;
}
.set-surch .set-surch-select,
.btn-select-box .select-surch {
	padding:0px;
}
.set-surch .set-surch-inp {
	margin-left: -1px;
	border-left: 0px;
	padding: 0;
}
.set-surch .set-surch-inp input {
	height: 34px;
}

.btn-select-box .select-box {
	margin: 0;
}
.btn-select-box {
	margin-right: 20px;
	padding: 0;
}
.btn-select-box .btn {
	padding-top: 7px;
	padding-bottom: 7px;
	margin-left: 7px;
}
.widget-head-right {
	margin-top: 5px;
	text-align: center;
}
.widget-head-right .wminimize {
	margin-top: 10px;
}

.pay-table {
	overflow-x: hidden;
}
.pay-table .table thead tr th {
	min-width: 90px;
}
.pay-table .table thead tr th:first-child {
	min-width: 40px;
}

/* 통계차트 정렬관련 */
.chart-area {
	height: 100%;
	overflow: hidden;
}
.chart-area > #pie-chart {
	height: 100%;
}

/* 메인으로 가기 버튼 css */
.go-to-main {
	color: #fff;
	font-size: 15px;
	line-height: 25px;
	position: absolute;
	bottom: 25px;
	width: 100%;
	text-align: center;
	cursor: pointer;
}
.dashboard-bottom {
	padding-top: 25px;
}
.board-center {
	width: 1000px;
	margin: 0 auto;
}

.gridMiniImg {
	width: 60px;
	height: 30px;
	margin-top: 2px;
	vertical-align: top;
}